<% provide(:title, 'How To') %>
<h1>How To</h1>
<div class="center hero-unit">
	 
		In order to create, edit or delete anything, you have to log in.
		<br />
		If you don't have an account, please sign up.
		<br />
		Create a new project in the Home page or in the Listing Projects page.
		<br />
		If there is no mappable locations available for your project you can create a new one in another moment.
		<br />
		You can add a new mappable location in the Home page or in the Listing Locations page.
		<br />
		In the Home page, you can click on the markers on the map to see wich projects are in that area.

</div>