@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* ------- sidebar ------- */

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 80px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
}

/* ------- form elements ------- */

label, input, textarea { /* Stili comuni agli elementi del form */
    margin: 0px 0; /* Margini */
    width: 500px;
}
label { 
    font-weight: bold;
    display: block; /* Impostiamo la label come elemento blocco */
    line-height: 20px; /* Altezza di riga */
    width: 300px; /* Larghezza */
}
 
input, textarea { /* Stili per il campo di testo e per la textarea */
    height: 30px; /* Altezza */
    line-height: 30px; /* Altezza di riga */
    width: 500px; /* Larghezza */
    padding: 0 10px; /* Padding */
}
 
input { padding-left: 30px;}
 
textarea { 
    font-size: 12px;
    height: 200px;
    width: 500px;
    overflow: hidden; /* disabilitare la scrollbar in IE */
}