// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkbox-grid 
{
  width:100%;
}
.checkbox-grid li
{
   display:inline-block;
   width:25%;
}